body { font-size:62.5%; }
form { background:#7f8083 url(../images/bg-form.png) top repeat-x; margin:50px; padding:2em 20px; border:2px solid #555; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; width:437px; }
fieldset { padding:0; margin:0; border:0; }
legend { font-size:1.4em; }
textarea { padding:5px; width:400px; height:200px; display:none; }
h2 { font-size:1.3em; margin:.5em 0; color:#E6E6E6; font-weight:bold; text-transform:uppercase; }
img { border:3px solid #fff; }
h1 { font-size:2em; font-weight:normal; color:#fff; margin:1em 0; }
h1 span.extension { color:#ccc; }
input#save { background:#ccc; color:#111; padding:.3em .8em; border:2px solid #ddd; font-size:1.2em; font-weight:bold; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; cursor:pointer; margin:.5em 0; }

/*list builder styles*/
ul.listbuilder { padding:0; margin:0; background:#88898a; list-style:none; border:1px solid #4D4D4D; overflow:auto; cursor:text; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
ul.listbuilder-focus { background:#fff; }
ul.listbuilder li { float:left; font-size:1.3em; margin:2px 0 2px 2px; color:#333; }
ul.listbuilder li.listbuilder-entry { position:relative; cursor:default; border-right:1px solid #7d7d7d; background:#eee url(../images/bg-tag-top.png) top left no-repeat; }
ul.listbuilder-focus li.listbuilder-entry { background-position:-500px top; }
ul.listbuilder li.listbuilder-entry-hover { color:#000; }
ul.listbuilder li.listbuilder-entry-selected { background-position:-1000px top; background-color:#555; color:#eee; }
ul.listbuilder span.listbuilder-entry-text { display:block; padding:.2em 25px .4em 18px; background:url(../images/bg-tag-bottom.png) bottom left no-repeat; }
ul.listbuilder-focus span.listbuilder-entry-text { background-position:-500px bottom; }
ul.listbuilder li.listbuilder-entry-selected span.listbuilder-entry-text { background-position:-1000px bottom; }
ul.listbuilder li.listbuilder-entry a.listbuilder-entry-remove { position:absolute; right:.3em; top:50%; margin-top:-5px; width:11px; height:11px; text-indent:-99999px; overflow:hidden; background:url(../images/icon_remove.png) 0 0 no-repeat; }
ul.listbuilder li.listbuilder-entry-selected a.listbuilder-entry-remove { background-position:0 -11px; }
ul.listbuilder li.listbuilder-entry-add { padding:.2em; }
ul.listbuilder input { font-size:1em; margin:0; padding:0; background:transparent; border:0!important; outline:0; line-height:1.7; color:#fff; width:3em; }
ul.listbuilder-focus input { color:#333; }
